In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
a = np.array([[1,2],[3,4]])
print(a)
print(a*3)

In [ ]:
m = np.array([[2,1],[1,2]])
eigen_value, eigen_vector = np.linalg.eig(m)
print(eigen_value)
print(eigen_vector)

In [ ]:
from np import linalg as la

In [ ]:
from numpy import linalg as la 
eigen_value_, eigen_vector_ = la.eig(m)
print(eigen_value_)
print(eigen_vector_)

In [ ]:
print(la.det(a))
det = la.det(a)
print(np.round(det))
b = la.inv(a)
print(b)
print(np.matmul(b,a))

In [ ]:
s = pd.Series([3,2,3,4], name='inflation')
print(s)
s = pd.Series([3,2,3,4], name='inflation', index = [2008, 2009, 2010, 2011])
print(s[2008])
print(s.loc[2008:2010])

In [ ]:
print(s.describe())
print(s.count())
print(s.mean())
print(s.median())
print(s.std())
print(s.min())
print(s.quantile(0.25))
print(s.max())

print(s.mode())
print(s.skew())
print(s.kurt())

If the file is stored online on GitHub
Link GitBub - Raw - Copy the hyperlink afterwords

If the file is stored on your computer
import os 
os. getcwd()
#os.chdir("C:/Users/andre/Dropbox/University/Teaching/UEA/Module organiser/ECO-7026A Programming and Data Analytics for Behavioural Economists/Lecture 02")

In [ ]:
url = 'https://raw.githubusercontent.com/tturocy/eco7026a/main/week1/LRHUTTTTGBM156S.csv'
df = pd.read_csv(url)

In [ ]:
print(df)

In [ ]:
usa_data = pd.read_csv('https://raw.githubusercontent.com/tturocy/eco7026a/main/week1/LRHUTTTTUSM156S.csv')
usa_data.head(4) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
usa_data.tail(4)

In [ ]:
world_data = df.merge(usa_data,sort=True) # The merge considers just the dates in common. 
world_data.head(8) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
world_data1 = df.merge(usa_data,how='outer') # The merge considers the longest time period and generates Nan for the variables with shorter time periods. 
world_data1.head(8) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
world_data1 = world_data1.sort_values(by=['DATE']) # This column sorts world_data1 dataframe by column Date. 
world_data1.head(8) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
world_data1.index = range(len(world_data1.index))
world_data1.head(8)

Alternative solution 

world_data1.reset_index(drop=True, inplace = True) # This command resets the index. The change is permanement with the option inplace=True. 
world_data1.head(8) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
world_data1 = df.merge(usa_data,how='outer', sort = True) # This is ok, only because data sets were already sorted by Date.
world_data1.head(8) # it shows the first "n" observations. By defeault, n is equal to 5, but this can changed with any number put in parenthesis.

In [ ]:
world_data.rename(columns={'LRHUTTTTGBM156S': "uk_nemployment", 'LRHUTTTTUSM156S': "usa_nemployment"})

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): print(world_data)

In [ ]:
print(world_data['USA Unemployment'])

**DataFrame.assign()** adds one or more columns. It can contain functions and/or operations inside.

In [ ]:
world_data = world_data.assign(Source = 'FRED', Diff_U = world_data.uk_unemployment - world_data.usa_unemployment) 
world_data

In [ ]:
world_data.dtypes

In [ ]:
world_data.info()

In [ ]:
world_data1.info()

DataFrame.dtypes is a subset of DataFrame.info()

In [ ]:
import datetime
world_data['date'] = pd.to_datetime(world_data['DATE'], yearfirst = True, format='%Y-%m-%d') # it creates a datetime64[ns] variable. 
world_data['day'] = world_data['date'].dt.day
world_data['month'] = world_data['date'].dt.month
world_data['year'] = world_data['date'].dt.year
world_data['weekday'] = world_data['date'].dt.dayofweek

In [ ]:
world_data.dtypes

In [ ]:
world_data[['DATE','weekday']] # note the double square parenthesis, when you recall more than a column.

In [ ]:
world_data = world_data.set_index(['DATE'])
world_data

In [ ]:
nineties_data = world_data.loc['1990-01-01':'1999-12-01']
nineties_data

In [ ]:
nineties_data_reduced = world_data.loc['1990-01-01':'1999-12-01', world_data.columns != 'day']
nineties_data_reduced

In [ ]:
nineties_data_reduced = world_data.loc['1990-01-01':'1999-12-01',['date','UK Unemployment','USA Unemployment','weekday']]
nineties_data_reduced

In [ ]:
world_data.rename(columns={'LRHUTTTTGBM156S': "UK Unemployment", 'LRHUTTTTUSM156S': "USA Unemployment"}, inplace = True)
nineties_data_reduced = world_data.loc['1990-01-01':'1999-12-01',['date','UK Unemployment','USA Unemployment','weekday']]
nineties_data_reduced

Without the option "inplace = True", the change in the name of the column is temporary and not fixed in the dataframe.

In [ ]:
nineties_data['UK Unemployment'].mean()
nineties_data['USA Unemployment'].mean()
nineties_data[['UK Unemployment','USA Unemployment']].mean()
nineties_data.describe(exclude=['int64','datetime64[ns]'])

In [ ]:
nineties_data = world_data.loc['1990-01-01':'1999-12-01']
nineties_data['UK Unemployment'].mean()

In [ ]:
nineties_data['USA Unemployment'].mean()

In [ ]:
nineties_data[['UK Unemployment','USA Unemployment']].mean()

In [ ]:
nineties_data.describe(exclude=['int64','datetime64[ns]'])

In [ ]:
from pandas_datareader import wb
matches = wb.search('government.*debt.*gdp')
matches

In [ ]:
debt = wb.download(indicator='GC.DOD.TOTL.GD.ZS', country="all", start=2005, end=2016)
debt

In [ ]:
debt = wb.download(indicator='GC.DOD.TOTL.GD.ZS', country="all", start=2005, end=2016).stack().unstack(0)
debt

In [ ]:
debt1 = wb.download(indicator='GC.DOD.TOTL.GD.ZS', country="all", start=2005, end=2016).stack(dropna=False).unstack(0)
debt1

In [ ]:
debt2 = wb.download(indicator='GC.DOD.TOTL.GD.ZS', country="all", start=2005, end=2016).unstack(0)
debt2

In [ ]:
del [[debt1, debt2]]

In [ ]:
debt

In [ ]:
debt.index = debt.index.droplevel(1) # drop indicator index 
debt

In [ ]:
print(debt.loc["2005"].kurtosis())
print(debt.loc["2005"].skew())

In [ ]:
debt.to_csv('debt.csv')
debt.to_stata('debt.dta')
debt.to_json('debt.json')
debt.to_pickle('debt.pkl')
debt.to_parquet('debt.parquet')

Where are these files?

In [ ]:
os.getcwd()

In [ ]:
pip list